<div class="Rectangle">
    <form name="form" [formGroup]="form">
        <p class="New-course">New Course</p>
        <span class="Tag-it-component">Title:</span>
        <span class="required margin-title">*required</span>
        <input type="text" id="title" formControlName="name" 
            placeholder="Text input" class="Title-input">
                <div *ngIf="form.get('name').invalid===true" class="error">
                    <div>Title is required.</div>
                </div>
                <div *ngIf="name.errors?.maxlength" class="error">
                    Title must be maximum 50 characters long.
                </div>
        <span class="Tag-it-component">Description:</span>
        <span class="required margin-description">*required</span>
        <input type="text" id="description" formControlName="description" 
            placeholder="Add description" class="Description-input">
                <div *ngIf="form.get('description').invalid===true" class="error">
                    <div>Description is required.</div>
                </div>
                <div *ngIf="description.errors?.maxlength" class="error">
                    Description must be maximum 500 characters long.
                </div>
        <span class="Tag-it-component">Duration:</span>
        <span class="required margin-duration">*required</span>
        <br>
        <input type="text" id="duration" formControlName="length" 
            placeholder="minutes" class="Duration-input">
        <br>
                <div *ngIf="form.get('length').invalid===true" class="error">
                    <div>Duration is required. Only numbers allowed.</div>
                </div>
        <span class="Tag-it-component">Date:</span>
        <span class="required margin-date">*required</span>
        <br>
        <input type="date" id="date" formControlName="date" 
            placeholder="mm-dd-yyyy" class="Date-input">
        <br>
                <div *ngIf="form.get('date').invalid===true" class="error">
                    <div>Date is required.</div>
                </div>
        <span class="Tag-it-component">Authors:</span>
        <span class="required margin-authors">*required</span>
        <br>
        <input type="text" id="authors" formControlName="authors" 
            placeholder="Start typing" class="Authors-input">
                <div *ngIf="form.get('authors').invalid===true" class="error">
                    <div>Authors is required. Only alfanumeric characters allowed.</div>
                </div>
    </form>
    <div>
        <button class="Cancel-button" type="button" (click)="Cancel()">Cancel</button>
        <button class="Save-button" type="button" [disabled]="form.invalid" (click)="AddNewCourse()">Save</button>
    </div>
</div>
  